<p style="color: green"><%= notice %></p>

<div>
<h1 style="text-align: center; margin: 25px">Users</h1>
</div>
<div id="users" style="padding: 150px">
  <table class="table">
    <thead>
    <tr style="text-align: center;">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Update user</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user, index| %>
      <tr>
        <th scope="row"><%= dom_id user %></th>
        <%= render user %>
        <td style="text-align: center;"><%= link_to "Show this user", user %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <h4 style="text-align: center;">
          <%= link_to "New user", new_user_path %>
        </h4>
      </td>
    </tr>
    </tbody>
  </table>
</div>

